body{
  background-image: url(casa_arbol.jpg);
 background-size: cover;
 background-position: center 25%;

}

.grid {
  border: 1px solid;
  height: 560px;
  width: 642px;
  display: flex;
  overflow:hidden;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: auto;
  background-color: rgba(187, 187, 187, 0.3);
  
}

.grid div {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  box-sizing: border-box;
 
}

.player-one {
  background-image: url(./finn.png);
  
}

.player-two {
 background-image: url(./jake.png );
  
}
