body {
  background-color: rgb(197, 255, 182);
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

#selectList {
  color: white;
  text-align: center;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}
fieldset{
  text-align: center;
}
input{
/*    appearance: none;*/
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
/*    -webkit-user-select: none;*/
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
/*    margin-bottom: 50px;
  margin-top: 50px;*/
}
img{ 
  display: block; 
  margin: 1vw; 
  width: 15vw; 
  height: 15vw;
  object-fit: cover;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}
/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  text-align: center;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

/*.button-4:-webkit-details-marker {
  display: none;
}*/
/* CSS table */
.center-table{
    border-collapse: collapse;
    margin-left:auto;
    margin-right: auto;
}
.styled-table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right: auto;
  /*margin: 25px 0;*/
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.styled-table tfoot tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.chess-board {   border-collapse: collapse;  margin-left:auto;  margin-right: auto;}/*border-spacing: 0; border-collapse: collapse; }*/
.chess-board th { padding: .5em; }
.chess-board th + th { border-bottom: 1px solid #000; }
.chess-board th:first-child,
.chess-board td:last-child { border-right: 1px solid #000; }
.chess-board tr:last-child td { border-bottom: 1px solid; }
.chess-board th:empty { border: none; }
.chess-board td { width: 1.5em; height: 1.5em; text-align: center; font-size: 32px; line-height: 0;}
.chess-board .light { background: #eee; }
.chess-board .dark { background: #aaa; }
.chess-board .markedlight { background: #b1d7ff; }
.chess-board .markeddark { background: #6574ba; }

.game-info {
    background-color: #d3d3d3; /* Color de fondo similar al color de las casillas claras del tablero */
    border: 2px solid #a9a9a9; /* Borde delgado */
    border-radius: 5px;
    padding: 15px; /* Aumenté el espacio interno para un aspecto más espacioso */
    text-align: center;
    margin-top: 30px;
}

.game-info div {
    margin-bottom: 10px; /* Aumenté el margen inferior para más separación entre las líneas */
    color: #333; /* Color del texto */
}

.game-info div:last-child {
    margin-bottom: 0;
}

#turn {
    font-weight: bold; /* Texto en negrita para el título */
}

#twhite::before {
    content: "\2656"; /* Icono Unicode de la torre blanca */
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

#tblack::before {
    content: "\265C"; /* Icono Unicode de la torre negra */
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

